@font-face {
  font-family: sans;
  src: url(../font/iransans.woff);
}
.header__brand {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar__brand__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.navbar__brand__title span {
  font-family: "sans", sans-serif;
  text-align: center;
  line-height: 1;
}

body {
  background-color: #eaeaea;
}

.header {
  width: 100%;
  padding: 10px 0 0 0;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  box-shadow: 0 -4px 10px 1px #5b5757;
}
.header .contactMenu {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: stretch;
}
.header .contactMenu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 200px;
  padding: 0;
  margin: 0;
  height: 100%;
  flex-grow: 4;
}
.header .contactMenu ul li {
  border-left: 1px dashed #a8a4a4;
  padding-bottom: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  width: 33.33333%;
}
.header .contactMenu ul li:last-child {
  border: none;
}
.header .contactMenu ul li a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header .contactMenu ul li a .contact-menu__img .my-img {
  height: 1.8em;
  width: 1.8em;
}
.header .contactMenu ul li a .contact-menu__img .badge {
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  background-color: red;
  color: white;
  top: -1px;
}
.header .contactMenu ul li a .contactMenu__title {
  height: 50%;
  width: 100%;
  font-size: 0.8em;
  line-height: 2;
  margin: 0.5em 0 0 0;
}
.header .contactMenu ul li a .contactMenu__title:hover {
  color: #a52e2e;
}
.header nav ul {
  display: flex;
  list-style: none;
}
.header nav ul li {
  padding: 0 0 0 10px;
}
.header nav ul li ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 100%;
}
.header nav ul li ul li {
  padding: 0 18px;
  border-left: 1px dashed #a8a4a4;
  padding-bottom: 0;
}
.header nav ul li ul li a {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  height: 120%;
}
.header nav ul li ul li a img {
  width: 25px;
  height: 40%;
}
.header nav ul li ul li a .case {
  font-size: 0.8em;
  margin-top: 20%;
}
.header nav ul li ul li a .case:hover {
  color: #a52e2e;
}
.header nav ul li ul .none-border {
  border: none;
}

@media only screen and (max-width: 768px) {
  header {
    display: none;
  }
}
.mobile-header {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  background-color: #ffffff;
}
.mobile-header .header__sidebar .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.mobile-header .header__sidebar .sidebar .slider__item {
  padding: 8px 8px 8px 32px;
  font-size: 1.2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  font-family: "sans", sans-serif;
  border-bottom: 1px dashed #6f6f6f;
  text-decoration: none;
}
.mobile-header .header__sidebar .sidebar a:hover {
  color: #ED1B24;
  background-color: #eaeaea;
}
.mobile-header .header__sidebar .sidebar .close-btn {
  position: absolute;
  font-size: 2rem;
  padding: 0 14px;
  top: 0;
  text-decoration: none;
  color: #818181;
}
.mobile-header .header__sidebar .sidebar .open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.mobile-header .header__sidebar .sidebar .open-btn:hover {
  background-color: #444;
}
.mobile-header .search-button {
  color: #ffffff;
  padding: 0 3%;
  border-radius: 5px;
  height: 4rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #ED1B24;
}
.mobile-header .search-button:hover {
  background-color: #a52e2e;
}
.mobile-header .web__logo {
  object-fit: cover;
}
.mobile-header .web__logo img {
  height: 4.5rem;
}
.mobile-header #main {
  transition: margin-left 0.5s;
}
.mobile-header #main button:not(:disabled) {
  color: #ffffff;
  cursor: pointer;
  float: right;
  padding: 65%;
  background-color: #ED1B24;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
}
.mobile-header #main button:not(:disabled):hover {
  background-color: #a52e2e;
}
.mobile-header #main button:not(:disabled):focus {
  border: none;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}
.search-frame {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/uzVDNJUi1w.png), url(../img/uzVDNJUi-1.png);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15%;
  border-radius: 0 0 20px 20px;
}
.search-frame .motto {
  color: #ffffff;
  font-family: "sans", sans-serif;
  margin-bottom: 40px;
  font-size: 2rem;
}
.search-frame .search-box {
  display: flex;
  background-color: #eaeaea;
  border-radius: 10px;
  height: 50px;
  width: 600px;
}
.search-frame .search-box form {
  width: 100%;
  display: flex;
  list-style: none;
}
.search-frame .search-box form .search-box__title {
  width: 60%;
}
.search-frame .search-box form .search-box__title input {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #6f6f6f;
  font-weight: 500;
  text-justify: auto;
  border-left: 1px dashed #a8a4a4;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  background: none;
  border-width: 0 !important;
  padding: 5%;
}
.search-frame .search-box form .search-box__title input:focus {
  outline: none;
}
.search-frame .search-box form .dropdown {
  width: 40%;
  display: inline-block;
  box-shadow: 0 0 2px #cccccc;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}
.search-frame .search-box form .dropdown .select {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  height: 100%;
  background: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 15px;
}
.search-frame .search-box form .dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: left;
  line-height: 20px;
}
.search-frame .search-box form .dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}
.search-frame .search-box form .dropdown:active {
  background-color: #f8f8f8;
}
.search-frame .search-box form .dropdown .active:hover,
.search-frame .search-box form .dropdown .active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.search-frame .search-box form .dropdown .active:hover .select > i,
.search-frame .search-box form .dropdown .active .select > i {
  transform: rotate(-90deg);
}
.search-frame .search-box form .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  border-radius: 3px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
  padding: 0;
  list-style: none;
}
.search-frame .search-box form .dropdown .dropdown-menu li {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "sans", sans-serif;
  text-align: right;
}
.search-frame .search-box form .dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.search-frame .search-box form .dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.search-frame .search-box .search-box__btn {
  background-color: #ED1B24;
  border-radius: 10px 0 0 10px;
  width: 60px;
  height: inherit;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  cursor: pointer;
  border: none;
}
.search-frame .search-box .search-box__btn:focus {
  outline: none;
}
.search-frame .search-box .search-box__btn:hover {
  background-color: #a52e2e;
}
.search-frame .search-box .search-box__btn i {
  font-size: 20px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .search-frame .motto {
    font-size: 1.2rem;
  }
  .search-frame .search-box {
    width: auto;
  }
}
.category {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
}
.category .container {
  height: 100%;
}
.category .container .categoryFrame {
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  list-style: none;
  min-height: 270px;
  background-image: url("../img/Mask Group 2.png");
  background-size: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
}
.category .container .categoryFrame .categoryFrame__product {
  width: 60%;
  padding-right: 30px;
}
.category .container .categoryFrame .categoryFrame__product .categoryFrame__product__title {
  line-height: 4;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 14px;
  color: #585757;
  border-bottom: 2px solid #e2e2e2;
  font-weight: 600;
}
.category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu {
  column-count: 4;
}
.category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu .categoryFrame__product__menu__item_1 {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  width: 100%;
  margin: 25px 0;
  line-height: 1;
}
.category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu .categoryFrame__product__menu__item_1 a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  color: #585757;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
}
.category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu .categoryFrame__product__menu__item_1 a:hover {
  color: #ED1B24;
}
.category .container .categoryFrame .categoryFrame__image {
  width: 40%;
  display: flex;
  justify-content: center;
}
.category .container .categoryFrame .categoryFrame__image img {
  width: 60%;
  margin-top: -30%;
}

@media screen and (max-width: 768px) {
  .category .container .categoryFrame .categoryFrame__image img {
    width: 100%;
    margin-top: -30%;
  }
  .category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu {
    column-count: 2;
    padding: 5% 0;
  }
}
@media screen and (max-width: 450px) {
  .category .container .categoryFrame .categoryFrame__product {
    width: 100%;
    padding: 30px;
  }
  .category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu .categoryFrame__product__menu__item_1 {
    text-align: center;
    font-family: "sans", sans-serif;
    font-size: 12px;
    border-bottom: 2px solid #ED1B24;
    padding: 5px 10px;
    width: 100%;
    margin: 25px 0;
    line-height: 1;
    border-radius: 16px;
  }
  .category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu .categoryFrame__product__menu__item_1 a {
    line-height: 3;
  }
  .category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu .categoryFrame__product__menu__item_1:hover {
    background-color: #eaeaea;
  }
  .category .container .categoryFrame .categoryFrame__product .categoryFrame__product__menu {
    column-count: 1;
    padding: 5% 0;
  }
  .category .container .categoryFrame .categoryFrame__image {
    display: none;
  }
}
.product-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.product-frame .container {
  height: 100%;
}
.product-frame .container .newProduct {
  display: flex;
  list-style: none;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-around;
  background: white;
  border-radius: 15px;
}
.product-frame .container .newProduct .Description {
  width: 30%;
  height: 350px;
  padding: 90px 20px 20px 10px;
}
.product-frame .container .newProduct .Description h2 {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 16px;
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  font-weight: 600;
}
.product-frame .container .newProduct .Description p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  margin-bottom: 30%;
}
.product-frame .container .newProduct .Description .moreProduct {
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  margin: 20% 0;
  color: #6f6f6f;
}
.product-frame .container .newProduct .sliderFrame {
  height: 350px !important;
  width: 70%;
}
.product-frame .container .newProduct .sliderFrame .flickity-slider {
  left: -350px !important;
}
.product-frame .container .newProduct .sliderFrame * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.product-frame .container .newProduct .sliderFrame .gallery {
  height: 280px;
  margin-top: -8%;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell {
  width: 28%;
  height: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a {
  text-decoration: none;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a img {
  height: 95%;
  width: 95%;
  border-radius: 10px;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a .brightness {
  filter: brightness(0.6);
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a .gallery-cell-title {
  margin-top: -4rem;
  font-family: "sans", sans-serif;
  padding: 0 1em;
  position: relative;
  z-index: 10;
  padding-right: 4em;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a .gallery-cell-title img {
  margin-top: -8em;
  height: 9em;
  width: 6em;
  position: absolute;
  right: -1em;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a .gallery-cell-title .gallery-title {
  font-weight: 600;
  font-size: 1em;
  text-align: right;
  color: #ffffff;
  width: 100%;
}
.product-frame .container .newProduct .sliderFrame .gallery-cell a .gallery-cell-title p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-size: 0.8em;
}
.product-frame .container .newProduct .sliderFrame .flickity-enabled.is-draggable {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .product-frame .container .newProduct {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
  .product-frame .container .newProduct .Description {
    width: 100%;
    height: 200px;
    padding: 10px;
  }
  .product-frame .container .newProduct .Description p {
    margin-bottom: 5%;
  }
  .product-frame .container .newProduct .Description .moreProduct {
    margin: 0;
  }
  .product-frame .container .newProduct .sliderFrame {
    width: 100%;
    height: 300px;
  }
  .product-frame .container .newProduct .sliderFrame .gallery-cell {
    width: 200px;
  }
  .product-frame .container .newProduct .sliderFrame .flickity-slider {
    left: -418px !important;
  }
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  height: 100% !important;
}

.flickity-page-dots {
  display: none !important;
}

.offer-Frame {
  margin: 10% 0 4% 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.offer-Frame .container {
  height: 100%;
}
.offer-Frame .container .offer {
  width: 100%;
  display: flex;
  list-style: none;
}
.offer-Frame .container .offer .off {
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  width: 25%;
  height: 340px;
  margin-left: 3%;
  padding: 1%;
}
.offer-Frame .container .offer .off h3 {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 16px;
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  font-weight: 600;
  margin-top: 10px;
}
.offer-Frame .container .offer .off .carousel {
  height: 100%;
}
.offer-Frame .container .offer .off .carousel .carousel-inner {
  height: 100%;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item {
  height: 100%;
  padding: 15% 5%;
  width: 100%;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item .carousel-item__product-name {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item .carousel-item__product-name .name p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item .carousel-item__product-name .price .over-line {
  text-decoration: line-through;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item .carousel-item__product-name .price p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item .badge-off {
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  background-color: #ED1B24;
  color: white;
  top: 22px;
  left: 72px;
}
.offer-Frame .container .offer .off .carousel .carousel-inner .carousel-item img {
  height: 70%;
  padding: 0 25%;
}
.offer-Frame .container .offer .off .carousel .carousel-control-next, .offer-Frame .container .offer .off .carousel .carousel-control-prev {
  position: absolute;
  top: -12%;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 10%;
  color: #575050;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  height: 10%;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 5px;
}
.offer-Frame .container .offer .off .carousel .carousel-control-next span, .offer-Frame .container .offer .off .carousel .carousel-control-prev span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.offer-Frame .container .offer .off .carousel .carousel-control-next {
  right: 185px;
}
.offer-Frame .container .offer .off .carousel .carousel-control-next .carousel-control-prev-icon {
  background-image: url("/img/083-chevron.png") !important;
}
.offer-Frame .container .offer .off .carousel .carousel-control-prev {
  left: 12px;
}
.offer-Frame .container .offer .off .carousel .carousel-control-prev .carousel-control-prev-next {
  background-image: url("/img/115-left-arrow.png") !important;
}
.offer-Frame .container .offer .best {
  width: 75%;
  height: 340px;
  padding: 2% 2% 0 2%;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
}
.offer-Frame .container .offer .best .best-title {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.offer-Frame .container .offer .best .best-title h3 {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 16px;
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  font-weight: 600;
}
.offer-Frame .container .offer .best .best-title .best__moreProduct a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  font-weight: bolder;
}
.offer-Frame .container .offer .best .best-sliderFrame {
  width: 100%;
  height: 90%;
}
.offer-Frame .container .offer .best .best-sliderFrame .flickity-slider {
  left: -350px !important;
}
.offer-Frame .container .offer .best .best-sliderFrame * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.offer-Frame .container .offer .best .best-sliderFrame body {
  font-family: sans-serif;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery {
  height: 280px;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell {
  width: 22%;
  height: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell a {
  text-decoration: none;
  color: #242424;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell a h4 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8em;
  font-weight: 600;
  color: #242424;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell a img {
  height: 50%;
  border-radius: 10px;
  margin-bottom: 1%;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell a .price {
  display: flex;
  list-style: none;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-size: 0.8em;
  line-height: 1.3;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell a .price .price__number {
  font-weight: 600;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell a .price p {
  margin: 0;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell .shopping {
  border-radius: 8px;
  border: 1px solid #585757;
  text-align: center;
  width: 80%;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell .shopping h5 {
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #585757;
  line-height: 3;
  margin-bottom: 0;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell .shopping:hover {
  background-color: #ED1B24;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell .shopping a h5:hover {
  color: #ffffff;
}
.offer-Frame .container .offer .best .best-sliderFrame .gallery-cell .shopping a h5 i:hover {
  color: #ffffff;
}
.offer-Frame .container .offer .best .best-sliderFrame .flickity-enabled.is-draggable {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .offer-Frame .container .offer {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .offer-Frame .container .offer .off, .offer-Frame .container .offer .best {
    width: 60%;
  }
  .offer-Frame .container .offer .off .carousel .carousel-control-next {
    right: 169px;
  }
  .offer-Frame .container .offer .best {
    margin-top: 5em;
  }
  .offer-Frame .container .offer .best .best-sliderFrame .flickity-slider {
    left: -262px !important;
  }
  .offer-Frame .container .offer .best .best-sliderFrame .gallery-cell {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .offer-Frame .container .offer .off, .offer-Frame .container .offer .best {
    width: 90%;
  }
  .offer-Frame .container .offer .off .carousel .carousel-control-next {
    right: 220px;
  }
}
.options-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}
.options-frame .container {
  height: 100%;
}
.options-frame .container .options {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 5%;
  justify-content: space-between;
}
.options-frame .container .options .options__items {
  width: 20%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.options-frame .container .options .options__items img {
  width: 60%;
  height: 55%;
}
.options-frame .container .options .options__items h6 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  font-size: 0.9em;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .options-frame .container .options {
    flex-wrap: wrap;
  }
  .options-frame .container .options .options__items {
    width: 9em;
    flex-grow: 1;
  }
  .options-frame .container .options .options__items img {
    width: 8em;
  }
}
#festival-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  height: 240px;
}
#festival-frame .container {
  height: 100%;
}
#festival-frame .container .festival {
  width: 100%;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 5%;
  background-color: #ED1B24;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 15%;
}
#festival-frame .container .festival .festival__Description {
  width: 55%;
  padding: 10% 10% 2% 0;
}
#festival-frame .container .festival .festival__Description h6 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  font-size: 2em;
}
#festival-frame .container .festival .festival__Description p {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  color: #ffffff;
  text-align: right;
  padding-right: 8%;
  font-weight: 600;
}
#festival-frame .container .festival .festival__image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#festival-frame .container .festival .festival__image img {
  margin-top: -16%;
  height: 147%;
}

@media screen and (max-width: 768px) {
  #festival-frame .container .festival .festival__Description h6 {
    font-size: 1.5em;
  }
  #festival-frame .container .festival .festival__Description p {
    font-size: 0.9em;
  }
  #festival-frame .container .festival .festival__image img {
    height: 124%;
  }
}
#magazine-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-top: 15%;
}
#magazine-frame .container .magazine {
  height: 650px;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
}
#magazine-frame .container .magazine .magazine__item-1 {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  height: 65%;
}
#magazine-frame .container .magazine .magazine__item-1 .Description {
  width: 30%;
  padding: 130px 20px 3px 10px;
}
#magazine-frame .container .magazine .magazine__item-1 .Description h2 {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 16px;
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  font-weight: 600;
}
#magazine-frame .container .magazine .magazine__item-1 .Description p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  margin-bottom: 40%;
}
#magazine-frame .container .magazine .magazine__item-1 .Description .magazine__moreProduct {
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  margin: 20% 0;
  color: #6f6f6f;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame {
  height: 435px !important;
  width: 70%;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .flickity-slider {
  left: -350px !important;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery {
  height: 280px;
  margin-top: -8%;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell {
  width: 28%;
  height: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a {
  text-decoration: none;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a img {
  height: 95%;
  width: 95%;
  border-radius: 10px;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a .brightness {
  filter: brightness(0.6);
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a .gallery-cell-title {
  margin-top: -4rem;
  font-family: "sans", sans-serif;
  padding: 0 1em;
  position: relative;
  z-index: 10;
  padding-right: 4em;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a .gallery-cell-title img {
  margin-top: -8em;
  height: 9em;
  width: 6em;
  position: absolute;
  right: -1em;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a .gallery-cell-title .gallery-title {
  font-weight: 600;
  font-size: 1em;
  text-align: right;
  color: #ffffff;
  width: 100%;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell a .gallery-cell-title p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-size: 0.8em;
}
#magazine-frame .container .magazine .magazine__item-1 .sliderFrame .flickity-enabled.is-draggable {
  height: 100%;
}
#magazine-frame .container .magazine .magazine__item-2 {
  padding: 0 2%;
  height: 45%;
  width: 100%;
}
#magazine-frame .container .magazine .magazine__item-2 .row {
  width: 100%;
  margin-top: 1%;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items img {
  width: 25%;
  height: 100%;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog {
  padding-right: 5%;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .title {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .date-frame {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin: 2% 0;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .date-frame .time {
  border-left: 1px solid #6f6f6f;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  padding-left: 3%;
  margin-left: 8%;
  font-size: 0.6em;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .date-frame .time img {
  padding: 2%;
  margin-left: 8%;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .date-frame .date {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-size: 0.6em;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .description {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #6f6f6f;
  font-size: 0.6em;
}
#magazine-frame .container .magazine .magazine__item-2 .row .magazine__item-2__items .blog .description .more {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  color: #ED1B24;
  text-align: left;
  font-weight: 600;
  margin-top: -14px;
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  #magazine-frame .container .magazine {
    height: max-content;
    padding: 1em 0;
  }
  #magazine-frame .container .magazine .magazine__item-1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
  #magazine-frame .container .magazine .magazine__item-1 .Description {
    width: 100%;
    height: 200px;
    padding: 10px;
  }
  #magazine-frame .container .magazine .magazine__item-1 .Description p {
    margin-bottom: 5%;
  }
  #magazine-frame .container .magazine .magazine__item-1 .Description .moreProduct {
    margin: 0;
  }
  #magazine-frame .container .magazine .magazine__item-1 .sliderFrame {
    width: 100%;
    height: 300px;
  }
  #magazine-frame .container .magazine .magazine__item-1 .sliderFrame .gallery-cell {
    width: 200px;
  }
  #magazine-frame .container .magazine .magazine__item-1 .sliderFrame .flickity-slider {
    left: -418px !important;
  }
}
#our-story-frame {
  height: 700px;
  text-align: right;
}
#our-story-frame .container {
  height: 100%;
}
#our-story-frame .container .uor-story-frame-box {
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2%;
  height: 60%;
  width: 38%;
  position: relative;
  top: 35%;
  left: 62%;
  border-radius: 20px;
}
#our-story-frame .container .uor-story-frame-box .our-story-frame-box-title {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 3;
}
#our-story-frame .container .uor-story-frame-box .our-story-frame-box-p {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #6f6f6f;
  font-weight: 500;
  text-justify: auto;
}
#our-story-frame .container .uor-story-frame-box .our-story-frame-box-table {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  height: 1.5em;
}
#our-story-frame .container .uor-story-frame-box .our-story-frame-box-table .our-story-frame-box-table_item {
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}
#our-story-frame .container .uor-story-frame-box .our-story-frame-box-table .our-story-frame-box-table_item span {
  line-height: 4;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-size: 0.8em;
}
#our-story-frame .container .uor-story-frame-box .our-story-frame-box-table #first-item {
  border: none;
}

@media screen and (max-width: 768px) {
  #our-story-frame {
    height: 600px;
  }
  #our-story-frame .container .uor-story-frame-box {
    height: 60%;
    width: 55%;
    left: 45%;
  }
  #our-story-frame .container .uor-story-frame-box .our-story-frame-box-title {
    font-size: 1em;
    font-weight: 600;
    line-height: 3;
  }
  #our-story-frame .container .uor-story-frame-box .our-story-frame-box-p {
    text-align: right;
    font-family: "sans", sans-serif;
    font-size: 12px;
    line-height: 2;
    color: #6f6f6f;
    font-weight: 500;
    text-justify: auto;
    font-size: 0.7em;
    line-height: 1.3;
  }
  #our-story-frame .container .uor-story-frame-box .our-story-frame-box-table {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    height: 0.9em;
  }
  #our-story-frame .container .uor-story-frame-box .our-story-frame-box-table .our-story-frame-box-table_item span {
    line-height: 1;
    font-size: 0.6em;
  }
  #our-story-frame .container .uor-story-frame-box .our-story-frame-box-table #first-item {
    width: 290px;
  }
}
#connection-frame {
  width: 100%;
}
#connection-frame .container .connection {
  margin-top: 10%;
  padding: 15px;
  width: 100%;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
}
#connection-frame .container .connection .connection__email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  margin-top: 5%;
}
#connection-frame .container .connection .connection__email h6 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  color: #6f6f6f;
}
#connection-frame .container .connection .connection__email .connection__email__box {
  display: flex;
  list-style: none;
  display: flex;
  background-color: #eaeaea;
  border-radius: 10px;
  height: 50px;
  width: 600px;
  width: 100%;
  justify-content: space-between;
  height: 40px;
  margin-top: 4%;
}
#connection-frame .container .connection .connection__email .connection__email__box input {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  background: none;
  border: none;
  padding: 3%;
  width: 100%;
}
#connection-frame .container .connection .connection__email .connection__email__box input :focus {
  border: none;
}
#connection-frame .container .connection .connection__email .connection__email__box .connection__email__box__btn {
  background-color: #ED1B24;
  border-radius: 10px 0 0 10px;
  width: 60px;
  height: inherit;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  cursor: pointer;
  border-radius: 10px;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  border: none;
}
#connection-frame .container .connection .connection__phone {
  display: flex;
  list-style: none;
  justify-content: center;
}
#connection-frame .container .connection .connection__phone .connection__phone__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
#connection-frame .container .connection .connection__phone .connection__phone__title h5 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  text-align: right;
  font-size: 0.9em !important;
  font-weight: 500;
  color: #6f6f6f;
}
#connection-frame .container .connection .connection__phone .connection__phone__title .connection__phone__title__number {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
#connection-frame .container .connection .connection__phone .connection__phone__title .connection__phone__title__number h6 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  font-size: 1.7em;
  font-weight: 700;
}
#connection-frame .container .connection .connection__phone .connection__phone__title .connection__phone__title__number img {
  height: 50%;
  margin-right: 5%;
}
#connection-frame .container .connection .connection__phone .connection__phone__img {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#connection-frame .container .connection .connection__phone .connection__phone__img img {
  height: 70%;
}

footer {
  height: 500px;
  margin-top: 8%;
}
footer #footer {
  text-align: right;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  height: max-content;
  padding: 2%;
  margin-bottom: -20px;
}
footer #footer ul {
  margin-top: 10%;
}
footer #footer ul li {
  list-style: none;
  line-height: 1.8;
}
footer #footer ul li a {
  text-decoration: none;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
}
footer #footer ul li a:hover {
  color: #a52e2e;
}
footer #footer .footer__title__social {
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
footer #footer .footer__title__contact {
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  text-align: right;
  font-weight: 700;
}
footer #footer .social-networks ul {
  background-color: #eaeaea;
  border-radius: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  padding: 3%;
  margin: 5% 0;
}
footer #footer .social-networks ul li {
  border-left: 1px dashed #a8a4a4;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 8%;
}
footer #footer .social-networks ul li:last-child {
  border: none;
}
footer #footer .footer__contact {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  margin-top: 3%;
}
footer #footer .footer__contact .footer__contact__phone {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #6f6f6f;
  font-weight: 500;
  text-justify: auto;
  background-color: #eaeaea;
  border-radius: 10px;
  width: 45%;
  height: 30px;
  padding: 1% 2%;
}
footer #footer .footer__contact .footer__contact__mail {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #6f6f6f;
  font-weight: 500;
  text-justify: auto;
  background-color: #eaeaea;
  border-radius: 10px;
  width: 45%;
  height: 30px;
  padding: 1% 2%;
}
footer #footer .footer__address {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #6f6f6f;
  font-weight: 500;
  text-justify: auto;
  background-color: #eaeaea;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  margin-top: 2%;
  padding: 1% 2%;
}
footer #footer .footer-mark {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80%;
}
footer #footer .mobile-footer-mark {
  display: none;
}
footer iframe {
  height: 300px;
  width: 100%;
  z-index: -1;
  /* margin-top: -50px; */
  position: relative;
}

@media screen and (max-width: 768px) {
  footer #footer {
    height: max-content;
    margin-bottom: 8em;
  }
  footer #footer ul li a {
    font-size: 0.9em;
  }
  footer #footer .mobile-footer-mark {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
  }
  footer #footer .header__brand {
    display: none;
  }
  footer #footer .footer-mark {
    display: none;
  }
}
.mobile-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 1% 5%;
  background-color: #ffffff;
  border-top: 1px dashed #6f6f6f;
  position: fixed;
  bottom: 0;
}
.mobile-footer .shopping {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1% 5%;
}
.mobile-footer .shopping:hover {
  background: #eaeaea;
}
.mobile-footer .shopping a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  text-align: center;
}
.mobile-footer .shopping a img {
  height: 3rem;
}
.mobile-footer .call {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1% 5%;
}
.mobile-footer .call:hover {
  background: #eaeaea;
}
.mobile-footer .call a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  text-align: center;
}
.mobile-footer .call a img {
  height: 3rem;
}
.mobile-footer .login {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1% 5%;
}
.mobile-footer .login:hover {
  background: #eaeaea;
}
.mobile-footer .login a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  text-align: center;
}
.mobile-footer .login a img {
  height: 3rem;
}

@media screen and (min-width: 768px) {
  .mobile-footer {
    display: none;
  }
}
#random-content-frame .random-content {
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  padding: 2em;
}
#random-content-frame .random-content .random-content-title {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 16px;
  border-right: 2px solid #ED1B24;
  padding-right: 5px;
  font-weight: 600;
  margin-right: 2em;
  line-height: 2;
}
#random-content-frame .random-content .magazine__item-2 {
  padding: 0 2%;
  height: 45%;
  width: 100%;
}
#random-content-frame .random-content .magazine__item-2 .row {
  width: 100%;
  margin-top: 1%;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items img {
  width: 25%;
  height: 100%;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog {
  padding-right: 5%;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .title {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .date-frame {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin: 2% 0;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .date-frame .time {
  border-left: 1px solid #6f6f6f;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  padding-left: 3%;
  margin-left: 8%;
  font-size: 0.6em;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .date-frame .time img {
  padding: 2%;
  margin-left: 8%;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .date-frame .date {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-size: 0.6em;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .description {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #6f6f6f;
  font-size: 0.6em;
}
#random-content-frame .random-content .magazine__item-2 .row .magazine__item-2__items .blog .description .more {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  color: #ED1B24;
  text-align: left;
  font-weight: 600;
  margin-top: -14px;
  font-size: inherit;
}
#random-content-frame .random-content .magazine__item-2 {
  padding-right: 0;
}

.search-frame-2 {
  padding-top: 100px;
  width: 100%;
  height: 170px;
  background-color: #ffffff;
}
.search-frame-2 .container .search-box {
  display: flex;
  background-color: #eaeaea;
  border-radius: 10px;
  height: 50px;
  width: 600px;
}
.search-frame-2 .container .search-box form {
  width: 100%;
  display: flex;
  list-style: none;
}
.search-frame-2 .container .search-box form .search-box__title {
  width: 60%;
}
.search-frame-2 .container .search-box form .search-box__title input {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #6f6f6f;
  font-weight: 500;
  text-justify: auto;
  border-left: 1px dashed #a8a4a4;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  background: none;
  border-width: 0 !important;
  padding: 5%;
}
.search-frame-2 .container .search-box form .search-box__title input:focus {
  outline: none;
}
.search-frame-2 .container .search-box form .dropdown {
  width: 40%;
  display: inline-block;
  box-shadow: 0 0 2px #cccccc;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}
.search-frame-2 .container .search-box form .dropdown .select {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  height: 100%;
  background: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 15px;
}
.search-frame-2 .container .search-box form .dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: left;
  line-height: 20px;
}
.search-frame-2 .container .search-box form .dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}
.search-frame-2 .container .search-box form .dropdown:active {
  background-color: #f8f8f8;
}
.search-frame-2 .container .search-box form .dropdown .active:hover,
.search-frame-2 .container .search-box form .dropdown .active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.search-frame-2 .container .search-box form .dropdown .active:hover .select > i,
.search-frame-2 .container .search-box form .dropdown .active .select > i {
  transform: rotate(-90deg);
}
.search-frame-2 .container .search-box form .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  border-radius: 3px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
  padding: 0;
  list-style: none;
}
.search-frame-2 .container .search-box form .dropdown .dropdown-menu li {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1rem;
  font-family: "sans", sans-serif;
  text-align: right;
}
.search-frame-2 .container .search-box form .dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.search-frame-2 .container .search-box form .dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.search-frame-2 .container .search-box .search-box__btn {
  background-color: #ED1B24;
  border-radius: 10px 0 0 10px;
  width: 60px;
  height: inherit;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  cursor: pointer;
  border: none;
}
.search-frame-2 .container .search-box .search-box__btn:focus {
  outline: none;
}
.search-frame-2 .container .search-box .search-box__btn:hover {
  background-color: #a52e2e;
}
.search-frame-2 .container .search-box .search-box__btn i {
  font-size: 20px;
  color: #ffffff;
}
.search-frame-2 .container .breadcrumb {
  background: none;
  display: flex;
}
.search-frame-2 .container .breadcrumb li a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
  font-size: 0.8em;
}

.show-product-Frame {
  margin: 4% 0 4% 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.show-product-Frame .container {
  height: 100%;
}
.show-product-Frame .container .show-product {
  width: 100%;
  display: flex;
  list-style: none;
  min-height: 760px;
}
.show-product-Frame .container .show-product .product-filter {
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
  width: 25%;
  margin-left: 1%;
}
.show-product-Frame .container .show-product .product-filter .product-filter-title {
  border-bottom: 2px solid #eaeaea;
  padding: 1%;
  line-height: 3;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  margin-top: 10px;
  font-size: 0.9em;
}
.show-product-Frame .container .show-product .product-filter .product-filter-title .align-right {
  width: 1.5em;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items {
  padding: 3%;
  text-align: right;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid {
  display: flex;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #ED1B24;
  --tick: #fff;
  position: relative;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox input,
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox svg {
  width: 21px;
  height: 21px;
  display: block;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--background);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox input:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox input:checked {
  --b: var(--border-active);
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  transform: scale(var(--scale, 1)) translateZ(0);
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox.path input:checked {
  --s: 2px;
  transition-delay: 0.4s;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid .checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}
.show-product-Frame .container .show-product .product-filter .product-filter-items .grid lable {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  margin-right: 1em;
  color: #6f6f6f;
  line-height: 4;
}
.show-product-Frame .container .show-product .product-list-frame {
  width: 75%;
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: #ffffff;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters {
  padding: 2%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .show {
  display: flex !important;
  justify-content: space-evenly;
  width: 130px;
  background-color: #eaeaea;
  border-radius: 5px;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-size: 0.7em;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .show .show__text {
  margin: 1.2em 0;
  line-height: 1;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .show .show__list {
  width: 1.6em;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .show .show__table {
  width: 1.6em;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme {
  background-color: #eaeaea;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown {
  width: 40%;
  display: inline-block;
  box-shadow: 0 0 2px #cccccc;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .select {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  height: 100%;
  background: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 15px;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: left;
  line-height: 20px;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown:active {
  background-color: #f8f8f8;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .active:hover,
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .active:hover .select > i,
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .active .select > i {
  transform: rotate(-90deg);
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  border-radius: 3px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
  padding: 0;
  list-style: none;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .dropdown-menu li {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1rem;
  font-family: "sans", sans-serif;
  text-align: right;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .forme .dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer {
  width: 40%;
  background-color: #eaeaea;
  height: 3em;
  border-radius: 3px;
  float: right;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider1, .show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider2 {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider1:hover, .show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider2:hover {
  opacity: 1;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider1::-webkit-slider-thumb, .show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider1::-moz-range-thumb, .show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .slider2 {
  position: relative;
  top: -58px;
  background: none;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .price {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  text-align: left;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters .slidecontainer .price2 {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  float: right;
  margin-top: -58px;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters-name {
  padding: 1% 2%;
  display: flex;
  list-style: none;
  background-color: #eaeaea;
  justify-content: space-between;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters-name .title {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  float: right;
  margin: 0;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters-name ul {
  float: right;
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: -8px;
  padding: 0;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters-name ul li {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  text-align: right;
  margin: 0 0.3em 0 1em;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters-name ul li .close {
  background: none;
  color: #ED1B24;
  font-weight: 600;
}
.show-product-Frame .container .show-product .product-list-frame .product-list-filters-name .delete-all {
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #ED1B24;
  border: none;
  background: none;
  padding: 0;
}
.show-product-Frame .container .show-product .product-list-frame .product-list {
  display: flex;
  flex-wrap: wrap;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a {
  text-decoration: none;
  color: #242424;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a h4 {
  font-family: "sans", sans-serif;
  color: #585757;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8em;
  font-weight: 600;
  color: #242424;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a img {
  height: 50%;
  border-radius: 10px;
  margin-bottom: 1%;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a .price {
  display: flex;
  list-style: none;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  font-size: 0.8em;
  line-height: 1.3;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a .price .price__number {
  font-weight: 600;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a .price p {
  margin: 0;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping {
  border-radius: 8px;
  border: 1px solid #585757;
  text-align: center;
  width: 80%;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping h5 {
  font-family: "sans", sans-serif;
  font-size: 12px;
  color: #585757;
  line-height: 3;
  margin-bottom: 0;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping:hover {
  background-color: #ED1B24;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping a h5:hover {
  color: #ffffff;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping a h5 i:hover {
  color: #ffffff;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a img {
  margin-bottom: 2%;
  width: 55%;
  object-fit: contain;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a h4 {
  font-size: 0.7em;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item a .price .price__number {
  font-size: 0.75em;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping a h5 i {
  color: #ED1B24;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping a h5 i:hover {
  color: #ffffff;
}
.show-product-Frame .container .show-product .product-list-frame .product-list .product-list-item .shopping a h5 {
  font-size: 0.7em;
}
.show-product-Frame .container .page-frame {
  display: flex;
  padding: 0;
  padding-right: 0px;
  justify-content: space-between;
  background-color: #eaeaea;
  width: 90%;
  border-radius: 5em;
  margin: 3.5em;
  padding-right: 2em;
}
.show-product-Frame .container .page-frame .pak {
  display: flex;
  justify-content: flex-start;
}
.show-product-Frame .container .page-frame .pak .number {
  display: flex;
  text-align: right;
  font-family: "sans", sans-serif;
  font-size: 12px;
  padding-top: 3px;
}
.show-product-Frame .container .page-frame .pak .number p, .show-product-Frame .container .page-frame .pak .number span {
  line-height: 2;
}
.show-product-Frame .container .page-frame .pak .move-page {
  display: flex;
  padding: 5px 60px 0 0;
}
.show-product-Frame .container .page-frame .pak a {
  line-height: 2;
}
.show-product-Frame .container .page-frame .pak a {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
  font-family: "sans", sans-serif;
}
.show-product-Frame .container .pagination {
  margin: 0;
  border-radius: 5em;
}
.show-product-Frame .container .pagination li:first-child {
  border-radius: 5em 0 0 5em;
}
.show-product-Frame .container .pagination li:first-child a {
  border-radius: 5em 0 0 5em;
}

/*# sourceMappingURL=main.css.map */
