$mainColor: #ffffff;
$textColor: #6f6f6f;
$darkColor: #585757;
$lightGray: #eaeaea;
$redColor:#ED1B24;
$titleColor: #242424;
$red-hover: #a52e2e;
$font-main: 'sans' , sans-serif;
@mixin search-box{
  .search-box {
    @include my-box;

    form {
      width: 100%;
      @include flexLayout;

      .search-box__title {
        width: 60%;

        input {
          @include my-text;
          @include myborder;

          height: 100%;
          width: 100%;
          background: none;
          border-width: 0 !important;
          padding: 5%;


        }

        input:focus {
          outline: none;
        }

      }

      .dropdown {
        width: 40%;
        display: inline-block;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        height: 100%;
        text-align: left;

        .select {
          @include text;
          height: 100%;
          background: none;
          width: 100%;
          font-weight: 500;
          cursor: pointer;
          display: block;
          padding: 15px;

          & > i {
            font-size: 13px;
            color: #888;
            cursor: pointer;
            transition: all .3s ease-in-out;
            float: left;
            line-height: 20px;
          }
        }

        &:hover {
          box-shadow: 0 0 4px rgb(204, 204, 204)
        }

        &:active {
          background-color: #f8f8f8
        }

        .active:hover,
        .active {
          box-shadow: 0 0 4px rgb(204, 204, 204);
          border-radius: 2px 2px 0 0;
          background-color: #f8f8f8;

          .select > i {
            transform: rotate(-90deg)
          }
        }

        .dropdown-menu {
          position: absolute;
          background-color: #fff;
          width: 100%;
          left: 0;
          margin-top: 1px;

          border-radius: 3px;
          overflow: hidden;
          display: none;
          max-height: 144px;
          overflow-y: auto;
          z-index: 9;
          padding: 0;
          list-style: none;

          li {
            padding: 5px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            font-size: 1rem;
            font-family: $font-main;
            text-align: right;

            &:hover {
              background-color: #f2f2f2;
            }

            &:active {
              background-color: #e2e2e2;
            }
          }
        }

      }


    }

    .search-box__btn {
      @include my-box-btn;
      border: none;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $red-hover;
      }

      i {
        font-size: 20px;
        color: $mainColor;
      }

    }


  }
}

@mixin myitems{
a{
text-decoration: none;
  color: $titleColor;
  @include flexcolumn;
 h4 {
    @include h-style;
    font-size: .8em;
    font-weight: 600;
    color: $titleColor;

  }

  img {
    height: 50%;
    border-radius: 10px;
    margin-bottom: 1%;
  }
  .price {
    @include flexLayout;
    @include text;
    font-size: .8em;
    line-height: 1.3;

    .price__number {
      font-weight: 600;
    }

    p {
      margin: 0;
    }


  }
}


  .shopping {
    border-radius: 8px;
    border: 1px solid $darkColor;


    h5 {
      font-family: $font-main;
      font-size: 12px;
      color: $darkColor;
      line-height: 3;
      margin-bottom: 0;
    }

    text-align: center;
    width: 80%;
  }

  .shopping:hover {
    background-color: $redColor;
  }

  .shopping a  h5:hover {
    color: $mainColor;

  }
  .shopping a h5 i:hover{
    color: $mainColor;

  }

}
@mixin sama-blogs{
  .magazine__item-2 {
    padding: 0 2%;
    height: 45%;
    width: 100%;

    .row {
      width: 100%;
      margin-top: 1%;

      .magazine__item-2__items {
        @include flexLayout;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        img {
          width: 25%;
          height: 100%;

        }

        .blog {
          padding-right: 5%;

          .title {
            @include text;
            font-weight: 600;


          }

          .date-frame {
            display: flex;
            justify-content: flex-start;
            flex-direction: row-reverse;

            margin: 2% 0;

            .time {
              border-left: 1px solid $textColor;
              @include text;
              padding-left: 3%;
              margin-left: 8%;
              font-size: .6em;

              img {
                padding: 2%;
                margin-left: 8%;
              }


            }

            .date {
              @include text;
              font-size: .6em;

            }

          }

          .description {
            @include text;
            color: $textColor;
            font-size: .6em;

            .more {
              @include linkDecoration;
              color: $redColor;
              text-align: left;
              font-weight: 600;
              margin-top: -14px;
              font-size: inherit;


            }

          }

        }

      }
    }


  }

}
@mixin sama-slider{

  width: 70%;


  .flickity-slider {
    left: -350px !important;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  .gallery {
    height: 280px;
    margin-top: -8%;
  }

  .gallery-cell {
    width: 28%;
    height: 100%;
    margin-right: 10px;
    counter-increment: gallery-cell;
    a{
      text-decoration: none;
      img {
        height: 95%;
        width: 95%;
        border-radius: 10px;
      }
      .brightness {filter: brightness(0.60);}
      .gallery-cell-title{
        margin-top: -4rem;
        font-family:$font-main;
        padding:  0 1em ;
        position: relative;
        z-index: +10;
        padding-right: 4em;
        img{

            margin-top: -8em;
            height: 9em;
            width: 6em;
            position: absolute;
            right: -1em;

        }
        .gallery-title{
          font-weight: 600;
          font-size: 1em;
          text-align: right;
          color: $mainColor;
          width: 100%;

        }
        p{
          @include text;
          color: $mainColor;
          font-size: .8em;
        }
      }
    }


  }

  .flickity-enabled.is-draggable {
    height: 100%;
  }




}
@mixin mobile-slider{
  @include flexcolumn;
  padding: 1em;

  .Description {
    width: 100%;
    height: 200px;
    padding: 10px;

    p {
      margin-bottom: 5%;
    }

    .moreProduct {
      margin: 0;
    }

  }

  .sliderFrame {
    width: 100%;
    height: 300px;

    .gallery-cell {
      width: 200px;
    }

    .flickity-slider {
      left: -418px !important;

    }


  }
}

@mixin footer-mobile-element{

  @include flexcolumn;
  cursor: pointer;
  padding:  1% 5%;
  &:hover{
    background:$lightGray;
  }
}
@mixin none-border{
  border: none;

}
@mixin my-text{

  @include text;
  line-height: 2;
  color: $textColor;
  font-weight: 500;
  text-justify: auto;
}
@mixin bg{

  background-size: cover;
  background-repeat: no-repeat;
}
@mixin my-box-btn{

  background-color: $redColor;
  border-radius: 10px 0 0 10px;
  width: 60px;
  height: inherit;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  cursor: pointer;
}

@mixin my-box{

  display: flex;
  background-color: $lightGray;
  border-radius: 10px;
  height: 50px;
  width: 600px;
}
@mixin sub-frame{

  @include flexLayout;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 5%;
}
@mixin frame{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
@mixin more-product{

  font-family: $font-main;
  font-size: 12px;
  font-weight: bolder;
  margin: 20% 0;
  color: $textColor;
}
@mixin flexLayout{
  display: flex;
  list-style: none;
}
@mixin flexcolumn{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
@mixin myborder{
  border-left: 1px dashed #a8a4a4;
  padding-bottom: 0;
}

@mixin linkDecoration{
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: $textColor;
  font-family: $font-main;
}
@mixin text{
  text-align: right;
  font-family: $font-main;
  font-size: 12px;
}
@mixin mytitle{
  line-height: 4;
  text-align: right;
  font-family: $font-main;
  font-size: 14px;
}
@mixin redborder{

  border-right: 2px solid $redColor;
  padding-right: 5px;

}
@mixin border-title{

  text-align: right;
  font-family: $font-main;
  font-size: 16px;
  @include redborder;
  font-weight: 600;

}
@mixin h-style{
  font-family: $font-main;
  color: $darkColor;
  text-align: center;
  line-height: 1.5;
}
@mixin my-box-shadow{
  box-shadow: 0 3px 30px 1px #afadad;
  border-radius: 10px;
  background-color: $mainColor;
}
@mixin bg-pps{
  background-size: cover;
  background-repeat: no-repeat;
}

.header__brand{
  @include flexLayout();
  justify-content:space-between;


}
.navbar__brand__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;

  span{
    font-family: $font-main;
    text-align: center;
    line-height: 1;

  }

}