@import "animation";
@import "font";
@import "mixin";
@import "base";

body {
  background-color: $lightGray;

}

.header {
  width: 100%;
  padding: 10px 0 0 0;
  background-color: $mainColor;
  position: fixed;
  z-index: +100;
  box-shadow: 0 -4px 10px 1px #5b5757;



  .contactMenu {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: stretch;


    ul {
      @include flexLayout();
      justify-content: space-between;
      width: 200px;
      padding: 0;
      margin: 0;
      height: 100%;
      flex-grow: 4;

      li {
        border-left: 1px dashed #a8a4a4;
        padding-bottom: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
        width: 33.33333%;
        &:last-child {
          @include none-border;
        }
        a {
          @include linkDecoration;
          @include flexcolumn;
          height: 100%;

          .contact-menu__img {
            .my-img{
              height:1.8em;
              width: 1.8em;
            }



            .badge {
              position: absolute;
              padding: 4px;
              border-radius: 50%;
              background-color: red;
              color: white;
              top: -1px;
            }

          }

          .contactMenu__title {
            height: 50%;
            width: 100%;
            font-size: .8em;
            line-height: 2;
            margin: 0.5em 0 0 0;
            &:hover{
              color: $red-hover;
            }



          }

        }
      }





    }

  }

  nav {

    ul {
      @include flexLayout;

      li {
        padding: 0 0 0 10px;


        ul {
          @include flexLayout;
          justify-content: space-between;
          height: 100%;

          li {
            padding: 0 18px;
            @include myborder;


            a {
              @include flexcolumn;

              @include linkDecoration;
              height: 120%;

              img {
                width: 25px;
                height: 40%;
              }

              .case {

                font-size: .8em;
                margin-top: 20%;
                &:hover{
                  color: $red-hover;
                }

              }

            }
          }

          .none-border {
            @include none-border;
          }


        }
      }
    }
  }


}

@media only screen and (max-width: 768px) {
  header {
    display: none;
  }

}

.mobile-header {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  background-color: $mainColor;


  .header__sidebar {

    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: $mainColor;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;

      .slider__item {
        padding: 8px 8px 8px 32px;
        font-size: 1.2rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-align: center;
        font-family: $font-main;
        border-bottom: 1px dashed $textColor;
        text-decoration: none;

      }

      a:hover {
        color: $redColor;
        background-color: $lightGray;

      }

      .close-btn {
        position: absolute;
        font-size: 2rem;
        padding: 0 14px;
        top: 0;
        text-decoration: none;
        color: #818181;

      }

      .open-btn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }

      .open-btn:hover {
        background-color: #444;
      }


    }

  }

  .search-button {
    color: #ffffff;
    padding: 0 3%;
    border-radius: 5px;
    height: 4rem;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    background-color: $redColor;

    &:hover {
      background-color: $red-hover;

    }


  }

  .web__logo {
    object-fit: cover;

    img {
      height: 4.5rem;
    }
  }

  #main {
    transition: margin-left .5s;

    button:not(:disabled) {
      color: #ffffff;
      cursor: pointer;
      float: right;
      padding: 65%;
      background-color: $redColor;
      border-radius: 5px;
      border: none;
      font-size: 1.5rem;

      &:hover {
        background-color: $red-hover;
      }

      &:focus {
        border: none;
        outline: none;
      }

    }


  }
}


@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }

}


@media only screen and (min-width: 768px) {

}

@media screen and (max-height: 450px) {

}


// end Header
// start searchFrame
.search-frame {
  @include bg;
  background-image: url(../img/uzVDNJUi1w.png), url(../img/uzVDNJUi-1.png);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15%;
  border-radius: 0 0 20px 20px;


  .motto {
    color: $mainColor;
    font-family: $font-main;
    margin-bottom: 40px;
    font-size: 2rem;


  }

  .search-box {
    @include my-box;

    form {
      width: 100%;
      @include flexLayout;

      .search-box__title {
        width: 60%;

        input {
          @include my-text;
          @include myborder;

          height: 100%;
          width: 100%;
          background: none;
          border-width: 0 !important;
          padding: 5%;


        }

        input:focus {
          outline: none;
        }

      }

      .dropdown {
        width: 40%;
        display: inline-block;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        height: 100%;
        text-align: left;

        .select {
          @include text;
          height: 100%;
          background: none;
          width: 100%;
          font-weight: 500;
          cursor: pointer;
          display: block;
          padding: 15px;

          & > i {
            font-size: 13px;
            color: #888;
            cursor: pointer;
            transition: all .3s ease-in-out;
            float: left;
            line-height: 20px;
          }
        }

        &:hover {
          box-shadow: 0 0 4px rgb(204, 204, 204)
        }

        &:active {
          background-color: #f8f8f8
        }

        .active:hover,
        .active {
          box-shadow: 0 0 4px rgb(204, 204, 204);
          border-radius: 2px 2px 0 0;
          background-color: #f8f8f8;

          .select > i {
            transform: rotate(-90deg)
          }
        }

        .dropdown-menu {
          position: absolute;
          background-color: #fff;
          width: 100%;
          left: 0;
          margin-top: 1px;

          border-radius: 3px;
          overflow: hidden;
          display: none;
          max-height: 144px;
          overflow-y: auto;
          z-index: 9;
          padding: 0;
          list-style: none;

          li {
            padding: 5px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            font-size: 0.8rem;
            font-family: $font-main;
            text-align: right;

            &:hover {
              background-color: #f2f2f2;
            }

            &:active {
              background-color: #e2e2e2;
            }
          }
        }

      }


    }

    .search-box__btn {
      @include my-box-btn;
      border: none;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $red-hover;
      }

      i {
        font-size: 20px;
        color: $mainColor;
      }

    }


  }


}

@media screen and (max-width: 768px) {
  .search-frame {
    .motto {
      font-size: 1.2rem;
    }

    .search-box {
      width: auto;
    }
  }

}


// start categoryFrame
.category {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;

  .container {
    height: 100%;

    .categoryFrame {
      @include my-box-shadow;
      @include flexLayout;
      min-height: 270px;
      background-image: url("../img/Mask Group 2.png");
      background-size: 100%;

      border-radius: 15px;
      background-color: $mainColor;
      width: 100%;


      .categoryFrame__product {
        width: 60%;
        padding-right: 30px;

        .categoryFrame__product__title {
          @include mytitle;
          color: $darkColor;
          border-bottom: 2px solid #e2e2e2;
          font-weight: 600;

        }

        .categoryFrame__product__menu {
          column-count: 4;


          .categoryFrame__product__menu__item_1 {
            @include text;
            @include redborder;
            width: 100%;
            margin: 25px 0;
            line-height: 1;

            a {

              @include linkDecoration;
              color: $darkColor;
              line-height: 1;
              font-size: 12px;
              font-weight: 600;

              &:hover {
                color: $redColor;
              }


            }


          }

        }


      }

      .categoryFrame__image {
        width: 40%;
        display: flex;
        justify-content: center;

        img {
          width: 60%;
          margin-top: -30%;

        }

      }

    }
  }

}

@media screen and (max-width: 768px) {

  .category .container .categoryFrame {
    .categoryFrame__image img {
      width: 100%;
      margin-top: -30%;
    }

    .categoryFrame__product .categoryFrame__product__menu {
      column-count: 2;
      padding: 5% 0;

    }

  }


}

@media screen and (max-width: 450px) {
  .category .container .categoryFrame {
    .categoryFrame__product {
      width: 100%;
      padding: 30px;

      .categoryFrame__product__menu .categoryFrame__product__menu__item_1 {
        text-align: center;
        font-family: "sans", sans-serif;
        font-size: 12px;
        border-bottom: 2px solid #ED1B24;
        padding: 5px 10px;
        width: 100%;
        margin: 25px 0;
        line-height: 1;
        border-radius: 16px;

        a {
          line-height: 3;
        }

        &:hover {
          background-color: $lightGray;
        }
      }
    }

    .categoryFrame__product .categoryFrame__product__menu {
      column-count: 1;
      padding: 5% 0;

    }

    .categoryFrame__image {
      display: none;
    }
  }


}

.product-frame {


  @include frame;

  .container {
    height: 100%;

    .newProduct {
      @include flexLayout;
      @include my-box-shadow;
      width: 100%;
      justify-content: space-around;
      background: white;
      border-radius: 15px;

      .Description {
        width: 30%;
        height: 350px;
        padding: 90px 20px 20px 10px;

        h2 {

          @include border-title;


        }

        p {
          @include text;
          margin-bottom: 30%;
        }

        .moreProduct {
          @include more-product;
        }
      }

      .sliderFrame {
        height: 350px !important;
       @include sama-slider;
      }



    }
  }
}

@media screen and (max-width: 768px) {
  .product-frame {

    .container {
      .newProduct {
       @include mobile-slider;
      }
    }
  }
}


.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  height: 100% !important;
}

.flickity-page-dots {
  display: none !important;
}

// start offerFrame
.offer-Frame {
  margin: 10% 0 4% 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    height: 100%;

    .offer {
      width: 100%;
      @include flexLayout;

      .off {
        @include my-box-shadow;
        width: 25%;
        height: 340px;
        margin-left: 3%;
        padding: 1%;

        h3 {
          @include border-title;
          margin-top: 10px
        }

        .carousel {
          height: 100%;

          .carousel-inner {
            height: 100%;

            .carousel-item {
              height: 100%;
              padding: 15% 5%;
              width: 100%;

              .carousel-item__product-name {
                @include flexLayout;
                width: 100%;
                justify-content: space-between;

                .name {
                  p {
                    @include text;
                  }

                }

                .price {
                  .over-line {
                    text-decoration: line-through;
                  }

                  p {
                    @include text;

                  }

                }


              }

              .badge-off {
                position: absolute;
                padding: 5px;
                border-radius: 50%;
                background-color: $redColor;
                color: white;
                top: 22px;
                left: 72px;
              }

              img {
                height: 70%;
                padding: 0 25%;
              }
            }
          }

          .carousel-control-next, .carousel-control-prev {
            position: absolute;
            top: -12%;
            bottom: 0;
            z-index: 1;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 10%;
            color: #575050;
            text-align: center;
            opacity: .5;
            transition: opacity .15s ease;
            height: 10%;
            border-radius: 50%;
            border: 1px solid;
            margin-top: 5px;


            span {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-pack: center;
              justify-content: center;

            }
          }

          .carousel-control-next {
            right: 185px;

            .carousel-control-prev-icon {

              background-image: url("/img/083-chevron.png") !important;
            }
          }

          .carousel-control-prev {
            left: 12px;

            .carousel-control-prev-next {
              background-image: url("/img/115-left-arrow.png") !important;
            }
          }

        }


      }

      .best {
        width: 75%;
        height: 340px;
        padding: 2% 2% 0 2%;
        @include my-box-shadow;

        .best-title {
          @include flexLayout;
          justify-content: space-between;

          h3 {
            @include border-title;
          }

          .best__moreProduct {
            a {
              @include linkDecoration;
              font-weight: bolder;


            }

          }

        }


        .best-sliderFrame {
          width: 100%;
          height: 90%;

          .flickity-slider {
            left: -350px !important;
          }

          * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }

          body {
            font-family: sans-serif;
          }

          .gallery {
            height: 280px;

          }

          .gallery-cell {
            width: 22%;
            height: 100%;
            margin-right: 10px;
            counter-increment: gallery-cell;
            @include flexcolumn;
            @include myitems;


          }

          .flickity-enabled.is-draggable {
            height: 100%;
          }


        }
      }


    }


  }


}

@media screen and (max-width: 768px) {
  .offer-Frame {
    .container {
      .offer {
        @include flexcolumn;

        .off, .best {
          width: 60%;
        }

        .off {
          .carousel .carousel-control-next {
            right: 169px;
          }
        }

        .best {
          margin-top: 5em;

          .best-sliderFrame {
            .flickity-slider {
              left: -262px !important;
            }

            .gallery-cell {
              width: 250px;

            }
          }


        }
      }
    }
  }

}

@media screen and (max-width: 450px) {
  .offer-Frame {
    .container {
      .offer {
        .off, .best {
          width: 90%;
        }

        .off .carousel .carousel-control-next {
          right: 220px;
        }
      }
    }
  }
}

// start optionFrame
.options-frame {
  @include frame;
  justify-content: center;
  align-items: center;
  min-height: 250px;

  .container {
    height: 100%;

    .options {
      @include sub-frame;
      justify-content: space-between;

      .options__items {
        width: 20%;
        @include flexcolumn;

        img {
          width: 60%;
          height: 55%;
        }

        h6 {
          @include h-style;
          font-size: .9em;
          font-weight: 600;
        }
      }
    }

  }


}
@media screen and (max-width: 768px){
  .options-frame{
    .container{
      .options{
        flex-wrap: wrap;
        .options__items{
          width: 9em;
          flex-grow: 1;

          img{
            width: 8em;

          }
          h6{

          }
        }

      }
    }
  }
}


// start festival-frame
#festival-frame {

  @include frame;
  height: 240px;

  .container {
    height: 100%;

    .festival {
      width: 100%;
      @include my-box-shadow;
      @include sub-frame;
      background-color: $redColor;
      height: 100%;
      margin-top: 3%;
      margin-bottom: 15%;

      .festival__Description {
        width: 55%;
        padding: 10% 10% 2% 0;

        h6 {
          @include h-style;
          font-weight: 700;
          color: $mainColor;
          text-align: right;
          font-size: 2em;

        }

        p {
          @include h-style;
          color: $mainColor;
          text-align: right;
          padding-right: 8%;
          font-weight: 600;


        }

      }

      .festival__image {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;


        img {

          margin-top: -16%;
          height: 147%;


        }

      }
    }
  }

}
@media screen and (max-width: 768px){
  #festival-frame{
    .container{
      .festival{

        .festival__Description{
          h6{
            font-size: 1.5em;
          }
          p{
            font-size: .9em;
          }

        }
        .festival__image{
          img{
            height: 124%;
          }

        }
      }
    }
  }
}

// start Magazine
#magazine-frame {

  @include frame;
  margin-top: 15%;

  .container {
    .magazine {
      height: 650px;
      @include my-box-shadow;
      width: 100%;

      .magazine__item-1 {
        @include flexLayout;
        width: 100%;
        justify-content: space-around;
        height: 65%;

        .Description {
          width: 30%;
          padding: 130px 20px 3px 10px;

          h2 {

            @include border-title;


          }

          p {
            @include text;
            margin-bottom: 40%;
          }

          .magazine__moreProduct {
            @include more-product;
          }
        }

        .sliderFrame {
          height: 435px !important;
          @include sama-slider;


        }

      }
      @include sama-blogs;



    }
  }


}
@media screen and (max-width: 768px){
  #magazine-frame{
    .container{
      .magazine{
        height: max-content;
        padding: 1em 0;
        .magazine__item-1{
          @include mobile-slider;

        }
      }
    }
  }

}


// start uor story
#our-story-frame {
  height: 700px;
  text-align: right;

  .container {
    height: 100%;

    .uor-story-frame-box {
      @include my-box-shadow;
      padding: 2%;
      height: 60%;
      width: 38%;
      position: relative;
      top: 35%;
      left: 62%;
      border-radius: 20px;

      .our-story-frame-box-title {
        @include text;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 3;


      }

      .our-story-frame-box-p {
        @include my-text;


      }

      .our-story-frame-box-table {
        @include flexLayout;
        justify-content: space-between;
        width: 100%;
        height: 1.5em;

        .our-story-frame-box-table_item {
          @include redborder;
          display: flex;
          justify-content: center;
          width: 100%;

          span {
            @include mytitle;
            line-height: 1.2;
            font-size: .8em;


          }
        }

        #first-item {
          border: none;
        }


      }

    }
  }
}
@media screen and (max-width: 768px){
  #our-story-frame {
    height: 600px;


    .container {


      .uor-story-frame-box {

        height: 60%;
        width: 55%;
        left: 45%;

        .our-story-frame-box-title {

          font-size: 1em;
          font-weight: 600;
          line-height: 3;


        }

        .our-story-frame-box-p {
          @include my-text;
          font-size: .7em;
          line-height: 1.3;


        }

        .our-story-frame-box-table {
          @include flexLayout;
          justify-content: space-between;
          width: 100%;
          height: .9em;

          .our-story-frame-box-table_item {


            span {
              line-height: 1;
              font-size: .6em;


            }
          }
          #first-item{
            width: 290px;
          }




        }

      }
    }
  }


}



// start Connection frame
#connection-frame {
  width: 100%;

  .container {
    .connection {
      margin-top: 10%;
      padding: 15px;

      width: 100%;
      @include my-box-shadow;

      .connection__email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5%;
        margin-top: 5%;

        h6 {
          @include h-style;
          font-weight: 700;
          color: $textColor;
        }

        .connection__email__box {
          @include flexLayout;
          @include my-box;
          width: 100%;
          justify-content: space-between;
          height: 40px;
          margin-top: 4%;

          input {
            @include text;
            background: none;
            border: none;
            padding: 3%;
            width: 100%;

          }

          input :focus {
            border: none;
          }

          .connection__email__box__btn {
            @include my-box-btn;
            border-radius: 10px;
            @include text;
            color: $mainColor;
            border: none;


          }
        }


      }

      .connection__phone {
        @include flexLayout;

        justify-content: center;

        .connection__phone__title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;

          h5 {
            @include h-style;
            text-align: right;
            font-size: .9em !important;
            font-weight: 500;
            color: $textColor;
          }


          .connection__phone__title__number {
            @include flexLayout;
            justify-content: flex-end;


            h6 {
              @include h-style;
              font-size: 1.7em;
              font-weight: 700;


            }

            img {
              height: 50%;
              margin-right: 5%;

            }
          }


        }

        .connection__phone__img {
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 70%;
          }

        }
      }
    }
  }

}

// start footer
footer {
  height: 500px;
  margin-top: 8%;

  #footer {
    text-align: right;
    @include my-box-shadow;
    width: 100%;
    height:max-content;
    padding: 2%;
    margin-bottom: -20px;

    ul {
      margin-top: 10%;

      li {

        list-style: none;
        line-height: 1.8;
        a{
          text-decoration: none;
          @include linkDecoration;
          &:hover{
            color: $red-hover;
          }
        }
      }
    }




      .footer__title__social {
        @include redborder;
        @include text;
        font-weight: 600;

      }

      .footer__title__contact {
        @include redborder;
        @include h-style;
        text-align: right;
        font-weight: 700;


      }




    .social-networks {
      ul {
        background-color: $lightGray;
        border-radius: 10px;
        @include flexLayout;
        justify-content: center;
        width: 100%;
        padding: 3%;
        margin: 5% 0;

        li {
          @include myborder;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0 8%;
          &:last-child{
            border: none;
          }
        }




      }

    }

    .footer__contact {
      @include flexLayout;
      width: 100%;
      justify-content: space-between;
      margin-top: 3%;

      .footer__contact__phone {
        @include my-text;
        background-color: $lightGray;
        border-radius: 10px;
        width: 45%;
        height: 30px;
        padding: 1% 2%;

      }

      .footer__contact__mail {
        @include my-text;
        background-color: $lightGray;
        border-radius: 10px;
        width: 45%;
        height: 30px;
        padding: 1% 2%;


      }
    }

    .footer__address {
      @include my-text;
      background-color: $lightGray;
      border-radius: 10px;
      width: 100%;
      height: 30px;
      margin-top: 2%;
      padding: 1% 2%;

    }

    .footer-mark {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 80%;
    }
    .mobile-footer-mark{
      display: none;
    }


  }

  iframe {
    height: 300px;
    width: 100%;
    z-index: -1;
    /* margin-top: -50px; */
    position: relative;

  }

}
@media screen and (max-width: 768px){
  footer{
    #footer{
      height: max-content;
      margin-bottom: 8em;
      ul{
        li{
          a{
            font-size: .9em;
          }
        }
      }
      .mobile-footer-mark {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 80%;
      }
      .header__brand{
       display: none;
      }
      .footer-mark{
        display: none;
      }
    }

  }
}





.mobile-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 1% 5%;
  background-color: $mainColor;
  border-top: 1px dashed $textColor;

  position: fixed;
  bottom: 0;

  .shopping {
    @include footer-mobile-element;

    a {
      @include linkDecoration;
      text-align: center;

      img {
        height: 3rem;


      }
    }

  }

  .call {
    @include footer-mobile-element;

    a {
      @include linkDecoration;
      text-align: center;

      img {
        height: 3rem;

      }
    }
  }

  .login {
    @include footer-mobile-element;

    a {
      @include linkDecoration;
      text-align: center;

      img {
        height: 3rem;

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-footer {
    display: none;

  }
}



// style for product page

//random-content
#random-content-frame{
  .random-content{
    @include my-box-shadow;
    width: 100%;
    padding: 2em;
    .random-content-title{
      @include border-title;
      margin-right: 2em;
      line-height: 2;

    }
  @include sama-blogs;
    .magazine__item-2{
      padding-right: 0;
    }
  }
}
//search-frame2
.search-frame-2{
 padding-top: 100px;
  width: 100%;
  height: 170px;
  background-color:$mainColor;
  .container{
        @include search-box;
        .breadcrumb{
          background: none;
          display: flex;
          li{
            a{
              @include linkDecoration;
              font-size: .8em;
            }


          }


        }
  }

}
//show-product
.show-product-Frame {
  margin: 4% 0 4% 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    height: 100%;

    .show-product {
      width: 100%;
      @include flexLayout;
      min-height: 760px;

      .product-filter {
        @include my-box-shadow;
        width: 25%;
        margin-left: 1%;


        .product-filter-title {
          border-bottom: 2px solid $lightGray;
          padding: 1%;
          line-height: 3;

          .align-right {
            width: 1.5em;

          }

          @include text;
          margin-top: 10px;
          font-size: .9em;

        }

        .product-filter-items {
          padding: 3%;
          text-align: right;

          .grid {
            display: flex;


            .checkbox {
              --background: #fff;
              --border: #D1D6EE;
              --border-hover: #BBC1E1;
              --border-active: #ED1B24;
              --tick: #fff;
              position: relative;

              input,
              svg {
                width: 21px;
                height: 21px;
                display: block;
              }

              input {
                -webkit-appearance: none;
                -moz-appearance: none;
                position: relative;
                outline: none;
                background: var(--background);
                border: none;
                margin: 0;
                padding: 0;
                cursor: pointer;
                border-radius: 4px;
                transition: box-shadow .3s;
                box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

                &:hover {
                  --s: 2px;
                  --b: var(--border-hover);
                }

                &:checked {
                  --b: var(--border-active);
                }
              }

              svg {
                pointer-events: none;
                fill: none;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: var(--stroke, var(--border-active));
                position: absolute;
                top: 0;
                left: 0;
                width: 21px;
                height: 21px;
                transform: scale(var(--scale, 1)) translateZ(0);
              }

              &.path {
                input {
                  &:checked {
                    --s: 2px;
                    transition-delay: .4s;

                    & + svg {
                      --a: 16.1 86.12;
                      --o: 102.22;
                    }
                  }
                }

                svg {
                  stroke-dasharray: var(--a, 86.12);
                  stroke-dashoffset: var(--o, 86.12);
                  transition: stroke-dasharray .6s, stroke-dashoffset .6s;
                }
              }

            }

            lable {
              @include text;
              margin-right: 1em;
              color: $textColor;
              line-height: 4;
            }
          }


        }


      }

      .product-list-frame {
        width: 75%;

        @include my-box-shadow;

        .product-list-filters {
          padding: 2%;
          @include flexLayout;
          flex-direction: row;
          justify-content: space-between;

          .show {
            display: flex !important;
            justify-content: space-evenly;
            width: 130px;
            background-color: $lightGray;
            border-radius: 5px;
            @include text;
            font-size: .7em;

            .show__text {
              margin: 1.2em 0;
              line-height: 1;

            }

            .show__list {
              width: 1.6em;
            }

            .show__table {
              width: 1.6em;
            }

          }


          .forme {
            background-color: $lightGray;

            .dropdown {
              width: 40%;
              display: inline-block;
              box-shadow: 0 0 2px rgb(204, 204, 204);
              transition: all .5s ease;
              position: relative;
              font-size: 14px;
              color: #474747;
              height: 100%;
              text-align: left;

              .select {
                @include text;
                height: 100%;
                background: none;
                width: 100%;
                font-weight: 500;
                cursor: pointer;
                display: block;
                padding: 15px;

                & > i {
                  font-size: 13px;
                  color: #888;
                  cursor: pointer;
                  transition: all .3s ease-in-out;
                  float: left;
                  line-height: 20px;
                }
              }

              &:hover {
                box-shadow: 0 0 4px rgb(204, 204, 204)
              }

              &:active {
                background-color: #f8f8f8
              }

              .active:hover,
              .active {
                box-shadow: 0 0 4px rgb(204, 204, 204);
                border-radius: 2px 2px 0 0;
                background-color: #f8f8f8;

                .select > i {
                  transform: rotate(-90deg)
                }
              }

              .dropdown-menu {
                position: absolute;
                background-color: #fff;
                width: 100%;
                left: 0;
                margin-top: 1px;

                border-radius: 3px;
                overflow: hidden;
                display: none;
                max-height: 144px;
                overflow-y: auto;
                z-index: 9;
                padding: 0;
                list-style: none;

                li {
                  padding: 5px;
                  transition: all 0.2s ease-in-out;
                  cursor: pointer;
                  font-size: 1rem;
                  font-family: $font-main;
                  text-align: right;

                  &:hover {
                    background-color: #f2f2f2;
                  }

                  &:active {
                    background-color: #e2e2e2;
                  }
                }
              }

            }
          }

          .slidecontainer {
            width: 40%;
            background-color: $lightGray;
            height: 3em;
            border-radius: 3px;
            float: right;

            .slider1, .slider2 {
              -webkit-appearance: none;
              width: 100%;
              height: 3px;
              border-radius: 5px;
              background: #d3d3d3;
              outline: none;
              opacity: 0.7;
              -webkit-transition: .2s;
              transition: opacity .2s;

              &:hover {
                opacity: 1;
              }

              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #4CAF50;
                cursor: pointer;
              }

              &::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #4CAF50;
                cursor: pointer;
              }

            }

            .slider2 {

              position: relative;
              top: -58px;
              background: none;
            }

            .price {
              @include text;
              text-align: left;
            }

            .price2 {
              @include text;
              float: right;
              margin-top: -58px;
            }
          }

        }

        .product-list-filters-name {
          padding: 1% 2%;
          @include flexLayout;
          background-color: $lightGray;
          justify-content: space-between;

          .title {
            @include text;
            float: right;
            margin: 0;
          }

          ul {
            float: right;
            @include flexLayout;
            margin: 0;
            padding-top: -8px;
            padding: 0;

            li {
              @include text;
              text-align: right;
              margin: 0 .3em 0 1em;

              .close {
                background: none;
                color: $redColor;
                font-weight: 600;
              }
            }
          }

          .delete-all {
            @include text;
            color: $redColor;
            border: none;
            background: none;
            padding: 0;
          }
        }

        .product-list {
          display: flex;
          flex-wrap: wrap;

          .product-list-item {
            width: 20%;
            @include flexcolumn;
            @include myitems;
            padding: 1%;

            a {
              img {
                margin-bottom: 2%;
                width: 55%;
                object-fit: contain;
              }

              h4 {
                font-size: 0.7em;
              }

              .price .price__number {

                font-size: .75em;
              }
            }


            .shopping a h5 i {
              color: $redColor;

              &:hover {
                color: $mainColor;
              }
            }

            .shopping a h5 {
              font-size: .7em;
            }


          }
        }

      }


    }

    .page-frame {
      display: flex;
      padding: 0;
      padding-right: 0px;
      justify-content: space-between;
      background-color: #eaeaea;
      width: 90%;
      border-radius: 5em;
      margin: 3.5em;
      padding-right: 2em;

      .pak {
        display: flex;
        justify-content: flex-start;

        .number {
          display: flex;
          @include text;
          padding-top: 3px;

          p, span {
            line-height: 2;
          }
        }

        .move-page {
          display: flex;
          padding: 5px 60px 0 0;
        }

        a {
          line-height: 2;
        }

        a {
          @include linkDecoration;
        }
      }
    }

    .pagination {
      margin: 0;
      border-radius: 5em;

      li {
        &:first-child {
          border-radius: 5em 0 0 5em;

          a {
            border-radius: 5em 0 0 5em;
          }
        }
      }

    }

  }
    }







